In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
choc_df=pd.read_csv("datasets/Chocolate Sales.csv")

In [3]:
choc_df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184

In [4]:
choc_df.Product.value_counts()

Product
Eclairs                 60
50% Dark Bites          60
Smooth Sliky Salty      59
White Choc              58
Drinking Coco           56
Spicy Special Slims     54
Organic Choco Syrup     52
85% Dark Bars           50
Fruit & Nut Bars        50
After Nines             50
Peanut Butter Cubes     49
99% Dark & Pure         49
Milk Bars               49
Raspberry Choco         48
Almond Choco            48
Orange Choco            47
Mint Chip Choco         45
Manuka Honey Choco      45
Caramel Stuffed Bars    43
70% Dark Bites          42
Baker's Choco Chips     41
Choco Coated Almonds    39
Name: count, dtype: int64

In [5]:
choc_df.Country.value_counts()

Country
Australia      205
India          184
USA            179
UK             178
Canada         175
New Zealand    173
Name: count, dtype: int64

In [10]:
choc_df=choc_df.drop(columns='Amount')
choc_df.head()

     Sales Person    Country              Product  Boxes Shipped
0  Jehu Rudeforth         UK      Mint Chip Choco            180
1     Van Tuxwell      India        85% Dark Bars             94
2    Gigi Bohling      India  Peanut Butter Cubes             91
3    Jan Morforth  Australia  Peanut Butter Cubes            342
4  Jehu Rudeforth         UK  Peanut Butter Cubes            184

In [11]:
choc_df['Sales Person'].value_counts()

Sales Person
Kelci Walkden          54
Brien Boise            53
Van Tuxwell            51
Beverie Moffet         50
Oby Sorrel             49
Dennison Crosswaite    49
Ches Bonnell           48
Gigi Bohling           47
Karlen McCaffrey       47
Curtice Advani         46
Madelene Upcott        45
Kaine Padly            45
Marney O'Breen         45
Jehu Rudeforth         43
Roddy Speechley        43
Gunar Cockshoot        43
Barr Faughny           43
Mallorie Waber         41
Jan Morforth           39
Andria Kimpton         39
Husein Augar           38
Dotty Strutley         36
Rafaelita Blaksland    34
Wilone O'Kielt         34
Camilla Castle         32
Name: count, dtype: int64

In [17]:
choc_dummies=pd.get_dummies(choc_df)

In [18]:
choc_dummies.columns

Index(['Boxes Shipped', 'Sales Person_Andria Kimpton',
       'Sales Person_Barr Faughny', 'Sales Person_Beverie Moffet',
       'Sales Person_Brien Boise', 'Sales Person_Camilla Castle',
       'Sales Person_Ches Bonnell', 'Sales Person_Curtice Advani',
       'Sales Person_Dennison Crosswaite', 'Sales Person_Dotty Strutley',
       'Sales Person_Gigi Bohling', 'Sales Person_Gunar Cockshoot',
       'Sales Person_Husein Augar', 'Sales Person_Jan Morforth',
       'Sales Person_Jehu Rudeforth', 'Sales Person_Kaine Padly',
       'Sales Person_Karlen McCaffrey', 'Sales Person_Kelci Walkden',
       'Sales Person_Madelene Upcott', 'Sales Person_Mallorie Waber',
       'Sales Person_Marney O'Breen', 'Sales Person_Oby Sorrel',
       'Sales Person_Rafaelita Blaksland', 'Sales Person_Roddy Speechley',
       'Sales Person_Van Tuxwell', 'Sales Person_Wilone O'Kielt',
       'Country_Australia', 'Country_Canada', 'Country_India',
       'Country_New Zealand', 'Country_UK', 'Country_USA',
       'Product_50% Dark Bites', 'Product_70% Dark Bites',
       'Product_85% Dark Bars', 'Product_99% Dark & Pure',
       'Product_After Nines', 'Product_Almond Choco',
       'Product_Baker's Choco Chips', 'Product_Caramel Stuffed Bars',
       'Product_Choco Coated Almonds', 'Product_Drinking Coco',
       'Product_Eclairs', 'Product_Fruit & Nut Bars',
       'Product_Manuka Honey Choco', 'Product_Milk Bars',
       'Product_Mint Chip Choco', 'Product_Orange Choco',
       'Product_Organic Choco Syrup', 'Product_Peanut Butter Cubes',
       'Product_Raspberry Choco', 'Product_Smooth Sliky Salty',
       'Product_Spicy Special Slims', 'Product_White Choc'],
      dtype='object')

In [19]:
choc_dummies.head().astype(int)

,Boxes Shipped,Sales Person_Andria Kimpton,Sales Person_Barr Faughny,Sales Person_Beverie Moffet,Sales Person_Brien Boise,Sales Person_Camilla Castle,Sales Person_Ches Bonnell,Sales Person_Curtice Advani,Sales Person_Dennison Crosswaite,Sales Person_Dotty Strutley,...,Product_Manuka Honey Choco,Product_Milk Bars,Product_Mint Chip Choco,Product_Orange Choco,Product_Organic Choco Syrup,Product_Peanut Butter Cubes,Product_Raspberry Choco,Product_Smooth Sliky Salty,Product_Spicy Special Slims,Product_White Choc
0,180,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,94,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,342,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,184,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
features=choc_dummies.loc[:,'Sales Person_Andria Kimpton':'Product_White Choc']
X=features.values
y=choc_dummies['Boxes Shipped'].values

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)
regressor=LinearRegression()
regressor.fit(X_train,y_train)
print("Training Accuracy: {:.3f}".format(regressor.score(X_train,y_train)))
print("Testing Accuracy: {:.3f}".format(regressor.score(X_test,y_test)))

Training Accuracy: 0.068
Testing Accuracy: -0.124

In [26]:
X[:10]

array([[False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False,  True, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
         True, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
         True, False, False, False, False, False,  True, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
         True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
         True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False, False,
        False, False, False, False, False, False, False,  True, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False,  True, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
         True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False,  True, False, False, False, False, False, False,
        False, False,  True, False, False, False, False,  True, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False,  True, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False,  True, False,
        False, False, False, False, False, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False,  True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False,  True, False, False,  True, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False],
       [False, False, False,  True, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False,  True, False,
        False, False, False, False, False, False, False,  True, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False]])