In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
choc_df=pd.read_csv("datasets/Chocolate Sales.csv")

In [3]:
choc_df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184

In [4]:
features=choc_df.columns

In [5]:
features

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')

In [6]:
np.unique(choc_df[features[0]])

array(['Andria Kimpton', 'Barr Faughny', 'Beverie Moffet', 'Brien Boise',
       'Camilla Castle', 'Ches Bonnell', 'Curtice Advani',
       'Dennison Crosswaite', 'Dotty Strutley', 'Gigi Bohling',
       'Gunar Cockshoot', 'Husein Augar', 'Jan Morforth',
       'Jehu Rudeforth', 'Kaine Padly', 'Karlen McCaffrey',
       'Kelci Walkden', 'Madelene Upcott', 'Mallorie Waber',
       "Marney O'Breen", 'Oby Sorrel', 'Rafaelita Blaksland',
       'Roddy Speechley', 'Van Tuxwell', "Wilone O'Kielt"], dtype=object)

In [7]:
salesperson_dum=pd.get_dummies(choc_df[features[0]])

In [8]:
salesperson_dum

,Andria Kimpton,Barr Faughny,Beverie Moffet,Brien Boise,Camilla Castle,Ches Bonnell,Curtice Advani,Dennison Crosswaite,Dotty Strutley,Gigi Bohling,...,Karlen McCaffrey,Kelci Walkden,Madelene Upcott,Mallorie Waber,Marney O'Breen,Oby Sorrel,Rafaelita Blaksland,Roddy Speechley,Van Tuxwell,Wilone O'Kielt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1090,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1091,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1092,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1093,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False